name: Deploy Backend to Droplet

on:
    push:
        branches: [ "main" ]

jobs:
    deploy:
        runs-on: debian-latest
        steps:
            - name: Deploy via SSH
              uses: appleboy/ssh-action@master
              with:
                host: ${{ secrets.HOST }}
                username: ${{ secrets.USERNAME }}
                key: ${{ secrets.SSH_PRIVATE_KEY }}
                script:
                    cd kinoji

                    git fetch --all
                    git reset --hard origin/main

                    source env/bin/activate
                    pip install -r requirements.txt

                    systemctl restart kinoji

                    systemctl status kinoji --no-pager